<%= form_for(@workshop) do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :date_on %><br />
    <%= f.date_select :date_on %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br />
    <%= f.collection_select(:venue_id, @venues, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br />
    <%= f.collection_select(:restaurant_id, @restaurants, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
