<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @workshop.number %>
</p>

<p>
  <b>Date on:</b>
  <%= @workshop.date_on %>
</p>

<p>
  <b>Venue:</b>
  <%= @workshop.venue_id %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @workshop.restaurant_id %>
</p>


<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
